/* 12-01-2024
CSS код состоит из набора правил
CSS селектор  - то к чему применяется это правило
<CSS селектор>
{
    <название стиля> : <значение стиля>
}

<CSS селектор>
{
    <название стиля> : <значение стиля>
}
*/
p{
    color: white;
    background-color: gray;
    margin: 10%;
}
body{
    background-color: lightgray;
    font-size: 2;
    text-align: center;
    
}
h1{
    color: brown;
    width: 10;
    height: 50;
}